@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.moma.org/collection/artist/2201">Van Gogh</a>.</p>

    <div>
        <h3>Explore More Pages:</h3>
        <ul>
            <li><a href="Artist/Biography">Biography</a></li>
            <li><a href="Artist/Gallery">Gallery</a></li>
            <li><a href="Artist/LifeHistory">Exhibitions</a></li>
            <li><a href="Artist/Index">Menu</a></li>
        </ul>
    </div>
</div>
